
/* .favourite-container {
    position: fixed; 
    bottom: 100px; 
    right: 20px; 
    width: 200px; 
    height: 200px; 
    padding: 10px; 
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow-y: auto; 
} */