.home {
  display: flex;
  flex-direction: column;
}

h1{
  font-family: Lato, sans-serif;
}

body {
  background: #000;
  font-family: Lato, sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: #fff;
}

h1 {
  margin-bottom: 20px;
}

/* Animation property */
.button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  
  /* Animation */
  animation: wiggle 2s linear infinite;

  /* Position and size */
  height: 4em;
  width: 7em;
  background: linear-gradient(to bottom, #555, #333);
  border: none;
  border-top: 3px solid rgb(25, 0, 255);
  border-radius: 0 0 0.2em 0.2em;
  color: #fff;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  line-height: 4em;

  /* Transform settings for animation */
  transform-origin: 50% 5em;
}

/* Keyframes for wiggle animation */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.button:hover {
  background: linear-gradient(to bottom, #666, #444);
}


