/* old css */
/* .form-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

button {
    background-color: #17c0fd;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

button:hover {
    background-color: #1abc9c;
    transform: translateY(-2px);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(23, 192, 253, 0.5);
}

@media (max-width: 600px) {
    .form-container2 {
        flex-direction: column;
        gap: 10px;
    }

    button {
        width: 100%;
    }
} */
